rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // By default, deny all reads and writes.
    match /{document=**} {
      allow read, write: if false;
    }

    // Unsecured. Allows anyone to read and write to any collection.
    // TODO: Secure your database before deploying to production.
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
